.dropDownContent {
  display: none;
  padding: 15px;
  background-color: black;
  color: white;
}

body{
  display: flex;
  justify-content: space-between;
}

.items{
  display:flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
